* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "work sans";
    background-color: #FCFBFC;
    /* background-color: #F8F8F8;
    background-color: aliceblue; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#main {
    padding-top: 1px;
    width: 100%;
    height: 100%;
    /* background-color: #F8F8F8; */
    /* background-color: rebeccapurple; */
}

/*
    Nav part
*/

#nav {
    margin-top: 4vh;
    margin-bottom: 5vh;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgb(116, 114, 114);
    border-bottom: 3px solid rgb(116, 114, 114);
    padding: 0vh 3vw;
    position: relative;
}

#nav h1 {
    /* background-color: blue; */
    margin-top: -1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    font-weight: 800;
    font-size: 3.3vw;
    letter-spacing: -5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav h1::after {
    content: "©";
    font-weight: 400;
    font-size: 1.3vw;
    position: absolute;
    left: 17.4%;
    top: 19%;
    color: rgb(84, 82, 82);
}

#nav h1::before {
    content: "model management";
    font-weight: 100;
    font-size: 0.85vw;
    position: absolute;
    left: 10.6%;
    bottom: 15%;
    letter-spacing: 0px;
    color: rgb(84, 82, 82);
}

#nav h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 1.6vw;
    letter-spacing: -2px;
    border-right: 3px solid rgb(116, 114, 114);
    /* padding-right: 5.5vw; */
}

#nav h2:nth-last-child(4) {
    padding-right: 3.2vw;
    padding-left: 2vw;
}

#nav h2:nth-last-child(3) {
    padding-right: 5.2vw;
    padding-left: 1vw;
}

#nav h2:nth-last-child(2) {
    padding-right: 5.2vw;
    padding-left: 1vw;
}

#nav h3 {
    height: 100%;
    width: 7%;
    font-weight: 500;
    font-size: 1.6vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* End of Nav  */

/* Start of landing video  */

#landing-video {
    padding: 0% 8% 0% 8%;
    width: 100%;
    /* height: calc(100% - 12.2%); */
    height: calc(100% - 23%);
    /* background-color: red; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#landing-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

#landingVideo-content {
    padding: 2vw 3vw;
    position: absolute;
    top: 54.8%;
    width: 84%;
    background-color: rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(10%);
}

#landingVideo-content h1 {
    font-size: 3.5vw;
    font-weight: 1000;
    color: white;
    margin-bottom: 3.5vh;
}

#explore-content {
    border-top: 3px solid white;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
}

#explore-content h4 {
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}

/* End of landing video  */

/* start of models profile */


#models-profile {
    margin: 7vh 0;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2vw;
    padding: 0 2vw 2vh 2vw;

}

.models {
    /* background-color: red; */
    width: 15vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: model-scroll-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    transition: all ease 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes model-scroll-animation {
    from {
        transform: translateX(0);
    }

    from {
        transform: translateX(-125vw);
    }
}

.models h4 {
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: -1px;
}

.models:hover h4 {
    color: grey;
    transition: all ease-in 0.2s;
}

.models img {
    width: 10vw;
    height: 20vh;
    border: 2px solid transparent;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.models:hover img {
    border: 3px solid transparent;
    transition: all ease-in 0.2s;
    cursor: pointer;
}

#models-profile::-webkit-scrollbar {
    display: none;
    /* background-color: transparent;
    height: 1vh;
    scroll-behavior: smooth; */
}

/* #models-profile::-webkit-scrollbar-thumb {
    background-color: rgb(225, 96, 16);
    scroll-behavior: smooth;
} */

/* #models-profile::-webkit-scrollbar-thumb:hover {
    background-color: black;
} */


/* End of models profiles */

/* Alphabetical filter section start  */

#filter-nav {
    padding: 2.5vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(116, 114, 114);
    border-top: 3px solid rgb(116, 114, 114);
}

#filter-nav h1 {
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    border-bottom: 3px solid black;
    line-height: 1;
}

#letters {
    padding: 0 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#letters h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6vw;
    height: 2.2vw;
    margin: 1px;
    padding: 0 1.1vw;
    margin: 0 0.2vw;
    font-size: 1.4vw;
    font-weight: 500;
    font-style: italic;
    color: rgb(95, 93, 93);
}

#letters h4:hover {
    /* background-color: red; */
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    /* -webkit-backface-visibility: hidden; */
    transition: all ease 0.2ms;
}


/* End of filter section */

/* Photo section  */

#photo-section {
    margin-top: 9vh;
    padding: 0 8vw;
    width: 100%;
    height: 95vh;
    display: flex;
    gap: 4vw;
}

#left-part {
    width: 55%;
}

#left-part img {
    width: 100%;
    height: 82vh;
    object-fit: cover;
    object-position: center;
    object-position: 0% 20%;
}

#left-part h1 {
    padding-top: 2vh;
    font-weight: 800;
    font-size: 2.6vw;
    /* letter-spacing: -5px; */
}

#right-part {
    width: 38%;
    height: 85%;
}

#right-part img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 0% 25%;
}

#right-content {
    padding-top: 2vh;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5vw;
}

#right-content h3 {
    font-size: 1.6vw;
    font-weight: 500;
    letter-spacing: -2px;
}

#right-content h5 {
    font-size: 1.1vw;
    line-height: 1.4;
    font-weight: 500;
}

#rounded-text {
    width: 100%;
    height: 75vh;
    padding-left: 8vw;
    padding-right: 9.5vw;
    margin-top: 2vh;
    margin-bottom: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rounded-left {
    width: 40%;
    height: 100%;
    background-color: #FCFBFC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#rounded-left img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

#rounded-left h2 {
    font-size: 1.5vw;
    font-weight: 500;
    padding: 2vh 1vw;
}

#rounded-right {
    width: 58%;
    height: 100%;
    background-color: yellow;
    background-image: url(https://images.pexels.com/photos/46219/people-man-model-glasses-46219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: top;
}


#vouge-center {
    width: 100%;
    height: 75vh;
    padding-left: 8vw;
    padding-right: 9.5vw;
    margin-top: 2vh;
    margin-bottom: 8vh;
}

#vouge-center-part {
    margin: 4vh 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/90764/man-studio-portrait-light-90764.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: 0 20%;
    position: relative;
    padding: 0vh 10vw;
}

#vouge-center-part::after {
    content: "N";
    font-size: 1.5vw;
    font-weight: 400;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.2vw 0.8vw;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 2%;
    top: 3%;
}


/* End of photo section  */


/* Premier trend line */
#trend {
    margin-top: 5.5vh;
    margin-bottom: 5vh;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-top: 3px solid rgb(116, 114, 114);
    border-bottom: 3px solid rgb(116, 114, 114);
    white-space: nowrap;
}

#trend h1 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 3.5vw;
    letter-spacing: 3;
    font-weight: 1000;
    -webkit-text-stroke: 2px black;
    padding: 1vw;
    border-top: rgb(116, 114, 114);
    border-bottom: rgb(116, 114, 114);
    animation-name: trend-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    transition: all ease-in-out 0.1s;
    animation-timing-function: linear;
}

#trend::-webkit-scrollbar {
    display: none;
    height: 0;
}

@keyframes trend-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/* Updates Part  */

#updates {
    width: 100%;
    height: 100vh;
    margin: 5vh 0;
    padding: 2vh 8vw;
}

#updates h1 {
    font-size: 3.2vw;
    text-transform: uppercase;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 6vh;
}

.elem {
    padding: 1vh 12vw 1vh 5vw;
    /* padding-right: 12vw;
    padding-left: 5vw; */
    width: 100%;
    height: 20vh;
    line-height: 1.3;
    display: flex;
    justify-content: space-between;
    /* gap: 20%; */
    align-items: center;
    border-top: 3px solid rgb(116, 114, 114);
}

.elem:nth-last-child(1) {
    border-bottom: 3px solid rgb(116, 114, 114);
}


.elem:hover {
    background-color: rgb(240, 240, 240);
}

.elem h3 {
    width: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.elem img {
    object-fit: cover;
    object-position: 10% 20%;
    width: 8vw;
    height: 7vw;
    border: 1px solid transparent;
    border-radius: 50%;
}

.elem:nth-last-child(4) img {
    animation-name: updates-animation2;
    animation-duration: 4s;
    transition: all ease 0.2s;
    transform-origin: right;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem:nth-last-child(1) img {
    animation-name: updates-animation1;
    animation-duration: 4s;
    transition: all ease 0.2s;
    transform-origin: right;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem:nth-last-child(3) img {
    animation-name: updates-animation1;
    animation-duration: 4s;
    transition: all ease 0.2s;
    transform-origin: right;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem-right-logo {
    animation-name: updates-animation2;
    animation-duration: 4s;
    transition: all ease 0.2s;
    transform-origin: right;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem-right-logo h2 {
    font-size: 2.2vw;
    font-weight: 600;
    letter-spacing: -2px;
}

.elem-right-logo h4 {
    font-size: 0.9vw;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: rgb(29, 28, 28);
    /* background-color: rgb(70, 181, 50); */
}

.elem-right h2 {
    width: 25vw;
    font-size: 2.2vw;
    font-weight: 600;
    letter-spacing: -2px;
}

.elem-right h4 {
    font-size: 0.9vw;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: rgb(29, 28, 28);
    /* background-color: rgb(70, 181, 50); */
}

@keyframes updates-animation1 {
    from {
        transform: translateX(-80%);
    }

    to {
        transform: translateX(80%);
    }

}

@keyframes updates-animation2 {
    from {
        transform: translateX(80%);
    }

    to {
        transform: translateX(-80%);
    }

}

/* End of updates  */


/* Movie shoot part */

#movie-shoot {
    margin-top: 15vh;
    width: 100%;
    height: 290vh;
    /* background-color: red; */
    padding: 0vh 6vw;
    position: relative;
}

#top-part {
    padding: 5vh 0vw;
    width: 100%;
    height: 29%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

#top-part img {
    width: 45%;
    object-fit: cover;
    object-position: 0 100%;
}

#top-right {
    width: 50%;
    /* background-color: blue; */
}

#top-right h1 {
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: -2px;
}

#top-right h3 {
    padding: 3vh 0;
    font-weight: 500;
    width: 50%;
    font-size: 1.7vw;
    letter-spacing: -2px;
    line-height: 1.3;
}

#top-right h4 {
    padding-right: 2vw;
    font-weight: 400;
    font-size: 1.1vw;
    letter-spacing: -1px;
    line-height: 1.2;
    padding-bottom: 2.5vh;
}

#top-right-images {
    /* margin-top: 2.45vh; */
    /* padding-top: 1vh; */
    width: 100%;
    height: 42.5%;
    padding-right: 6vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4.5vh;
}

#top-right-images img {
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#center-part {
    margin: 8vh 0;
    /* padding: 8vh 0; */
    width: 96%;
    height: 27%;
    background-image: url(https://images.pexels.com/photos/955413/pexels-photo-955413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /* background-color: yellow; */
    background-size: cover;
    background-position: 0 20%;
    position: relative;
}

#center-part::after {
    content: "R";
    font-size: 1.5vw;
    font-weight: 400;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.2vw 0.8vw;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 2%;
    top: 3%;
}

#bottom-part {
    margin-top: 13vh;
    /* padding: 0 6vw; */
    width: 100%;
    height: 34%;
    /* background-color: green; */
    display: flex;
    gap: 5vw;

}

#bottom-part img {
    width: 50%;
    height: 97%;
    object-fit: cover;
    object-position: center;
    object-position: 0% 20%;
}


#bottom-right-part {
    width: 40%;
    height: 85%;
}

#bottom-right-part img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: 0% 25%;
}

#bottom-right-content {
    padding-top: 4vh;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5vw;
}

#bottom-right-content h3 {
    font-size: 1.6vw;
    font-weight: 500;
    letter-spacing: -2px;
}

#bottom-right-content h5 {
    font-size: 1.1vw;
    line-height: 1.4;
    font-weight: 500;
}



/* End of movie shoot part  */


/* Blog part start  */

#blog {
    width: 100%;
    height: 88vh;
    padding: 3vh 5vw;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
    position: relative;
    margin-bottom: 5vh;
}

#blog h3 {
    font-size: 1.4vw;
    font-weight: 600;
}

#blog h3::before {
    content: "B";
    font-size: 1.5vw;
    font-weight: 500;
    border: 2px solid rgb(84, 82, 82);
    padding: 0.2vw 0.6vw;
    border-radius: 50%;
    color: rgb(84, 82, 82);
}

#blog::before {
    content: "BLOG";
    position: absolute;
    top: 6%;
    left: 12%;
    font-size: 3.3vw;
    font-weight: 800;
    letter-spacing: -4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#first-part,
#second-part {
    width: 38%;
    height: 100%;
    padding: 2.5vw;
    position: relative;
}


#first-part img,
#second-part img {
    padding-top: 5vh;
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* Start of Footer nav section  */


#footer-nav {
    margin: 5vh 0;
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: end;
    /* padding-top: 2vh; */
    /* justify-content: space-between; */
    /* align-items: center; */
    border-top: 3px solid rgb(116, 114, 114);
    border-bottom: 3px solid rgb(116, 114, 114);
    /* background-color: rebeccapurple; */
}


#footer-nav h1 {
    /* background-color: blue; */
    /* margin-top: -2vh; */
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    font-weight: 800;
    font-size: 3.3vw;
    letter-spacing: -5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer-nav h1::after {
    content: "©";
    font-weight: 400;
    font-size: 1.3vw;
    position: absolute;
    left: 18%;
    top: 3%;
    color: rgb(84, 82, 82);
}

#footer-nav h1::before {
    content: "model management";
    font-weight: 100;
    font-size: 0.85vw;
    position: absolute;
    left: 11%;
    top: 21%;
    letter-spacing: 0px;
    color: rgb(84, 82, 82);
}

#footer-nav h2 {
    line-height: 3;
    top: 10%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    font-weight: 500;
    font-size: 1.6vw;
    letter-spacing: -2px;
    /* border-right: 3px solid rgb(116, 114, 114); */
    /* padding-right: 5.5vw; */
}

#footer-nav h2:nth-child(3) {
    width: 18%;
    /* padding-right: 3.2vw;
    padding-left: 2vw; */
    border-right: 3px solid rgb(116, 114, 114);
    /* background-color: yellow; */
}

#footer-nav h2:nth-child(2) {
    width: 18%;
    /* padding-right: 3.2vw; */
    padding-left: 2vw;
    border-right: 3px solid rgb(116, 114, 114);
    /* background-color: red; */
}

#footer-nav h2:nth-child(1) {
    /* border-right: 3px solid rgb(116, 114, 114); */
    /* padding-right: 3.2vw; */
    /* padding-left: 1vw; */
    /* background-color: blue; */
    /* border-bottom: 3px solid rgb(116, 114, 114); */
    height: 35%;
    padding-right: 8vw;
    padding-left: 3vw;
    /* background-color: yellow; */

}

#footer-part2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* background-color: green; */
}

#copyright-section {
    width: 100%;
    height: 65%;
    /* padding-left: 150px; */
    border-top: 3px solid rgb(116, 114, 144);
    padding-left: 3vw;
    padding-top: 2vh;
    /* background-color: blue; */
}

#copyright-section h3 {
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.1;
}

#social-links {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

#social-links a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 15px;
}

/* End of footer */

#end {
    padding: 1px;
    margin-top: 1%;
    /* width: 100%; */
    /* height: 1px; */
    /* background-color: red; */
}